body{
    background: rgb(228, 239, 254);
}

.navbar{
    background:darkslateblue;
}

.menu-button{
    color: lightgray;
}

.menu-button:hover{
    color: white;
}

.logo h2{
    color: white;
}

#sidebar{
    background: rgb(214, 210, 240);
}

.sidebar-content button{
    border-color: rgba(161, 127, 193, 0.3);
}

.sidebar-content button:hover{
    background: rgba(161, 127, 193, 0.3);
}

.sidebar-content button:active{
    background: rgba(161, 127, 193, 0.7);
    color: white;
}

.sidebar-filler{
    border-color: rgba(161, 127, 193, 0.3);
}

#new-animal{
    background: rgba(220, 191, 248, 0.5);
    color: black;
}

#new-animal:hover{
    background: rgba(161, 127, 193, 0.5);
}

#new-animal:active{
    background: rgba(161, 127, 193, 0.7);
    color: white;
}

.animal-card{
    background: rgba(220, 191, 248, 0.5)
}

.animal-card a{
    color: black;
}

.new-animal-form{
    background: white;
}

.new-animal-form-header{
    background: darkslateblue;
}

.new-animal-form-header h2{
    color: white
}

.new-animal-form-header button{
    color: darkgray;
}

.new-animal-form-content input{
    background: rgba(161, 127, 193, 0.3);
}

.new-animal-form-content input:hover{
    background: rgba(161, 127, 193, 0.5);
}

.new-animal-form-content input:focus{
    background: rgba(161, 127, 193, 0.5);
}

#new-animal-submit{
    background: rgb(228, 228, 228);

    &:hover{
        background: rgb(200, 200, 200);
    }

    &:active{
        background: rgb(150, 150, 150);
        color: white;
    }
}