@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Poppins';
    margin: 0;
}

button{
    width: 40px;
    height: 78px;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    background: transparent;
}

.burger{
    display: inline;
    font-size: 5vh;
    z-index: 3;
    top: 0;
    left: 0;
    width: 72px;
    padding-left: 1rem;
}

.navbar{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px rgba(0, 0, 0, 0.3);
}

body.menu-open .navbar{
    opacity: 1;
    visibility: visible;
    translate: 0 0;
}

.logo{
    display: inline;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 7.5vh;
}

.logo a{
    padding: 32px;
    text-decoration: none;
}

.logo h2{
    display: inline;
    font-size: 5.2vh;
    font-weight:600;
    margin: 0;
}

#main{
    transition: margin-left 0.5s;
    margin-left: 0;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 9vh;
}

.sidebar-content{
    width: 100%;
    height: 80vh;
    margin-bottom: 10px;
}

.sidebar-content a{
    text-decoration: none;
}

.sidebar-content button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 2.5vh;
    font-weight: 400;
    border-bottom: 1px solid;
}

.sidebar-filler{
    height: 60%;
    border-bottom: 1px solid;
}

@media screen and (max-width: 380px) {
    .logo h2{
        font-size: 32px;
    }

    #sidebar{
        margin-top: 72px;
    }

    .sidebar-content button{
        font-size: 14px;
    }
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    padding: 15px 0;
    margin-top: 9vh;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-left: 9rem;
    font-size: 2vh;
}

#new-animal{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 6rem;
    margin-right: 3rem;
    align-self: right;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.animal-container{
    overflow-y: scroll;
    align-items: start;
    height: 100%;
    padding: 15px 0;
    margin-top: 40px;
}

.animal-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.animal-card{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 15%;
    height: auto;
    margin: 0 1.5% 3rem;
    transition: 0.3s;
}

.animal-card a{
    text-decoration: none;
}

.animal-card:hover{
    width: 16%;
    margin: 0 1%;
}

.animal-card-image img{
    width: 100%;
    height: 200%;
    padding: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.animal-card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animal-card-info h3{
    margin: 0 0 5px 0;
    padding: 0;
    background: transparent;
    font-weight: 500;
    font-size: 2.5vh;
}

.overlay{
    position: fixed;
    z-index: 4;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.popup-form{
    position: fixed;
    width: 30%;
    min-width: 300px;
    height: 0;
    z-index: 5;
    top: 25%;
    left: 35%;
    border-radius: 2rem;
    box-shadow: 0 23px 50px rgba(0, 0, 0, 0.3);
    transition: height 0.3s;
    overflow: hidden;
}

.popup-form-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 1rem;
    border-radius: 2rem 2rem 0 0;
}

.popup-form-header h2{
    margin: 0 0 0 40px;
    padding: 0;
    background: transparent;
    font-size: 3vh;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.popup-form-header button{
    width: 40px;
    height: 40px;
    font-size: 2.5vh;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.popup-form-content {
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 0 20%;
    margin: 0;
    overflow: hidden;
}

.popup-form-content input{
    width: 100%;
    margin-bottom: 1rem;
    height: 4vh;
    border-radius: 6px;
    border-width: 0;
    outline: none;
    padding: 0 5px;
    transition: background 0.3s;
    font-size: 2vh;

    &:hover{
        background: rgba(161, 127, 193, 0.5);
    }
}

.popup-form-content label{
    display: block;
    font-size: 2.2vh;
}

#popup-submit{
    position: relative;
    width: 60%;
    margin-top: 1rem;
    transition: background 0.3s;
    left: 19%;
    height: 4vh;
}

.main-container{
    display: flex;
    flex-direction: row column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin-top: 9vh;
}

.container{
    display: inline;
    justify-content:start;
    align-items: center;
    width: 50%;
    height: 100%;
    z-index: 1;
}

#summary-container{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 30%;
    padding: 1rem;
    border-radius: 7px;
    margin: 0 0.25rem 0.5rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    overflow: scroll;
}

#summary-info{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    line-height: 0.75;
    padding-left: 1rem;
}

#summary-info h1{
    padding: 5px;
}

#summary-info span{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 2.6vh;
    align-items: center;
}

#summary-info span p{
    margin-top: .5rem;
    padding: 5px;
}

#animal-species{
    font-style: italic;
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 2.2vh;
}

#animal-header{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#summary-image{
    display: inherit;
    position: relative;
    border-radius: 50%;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#animal-img-overlay{
    position: absolute;
    display: none;
    flex-direction: column;
    float:left;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#animal-img-overlay h2{
    font-size: 5vh;
}

#animal-page-img{
    width: 90%;
    z-index: 1;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#info-container{
    display:flex;
    flex-direction: column;
    height: 69%;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
    border-radius: 7px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 4px;
}

#info-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.4vh;
}

#info-header h2{
    margin: 0;
    padding: 1rem 0 1rem 10%;
    background: transparent;
    font-weight: 500;
    width: 90%;
}

#info-header button{
    width: 10%;
    height: 60px;
    font-size: 3.5vh;
}

#info-section{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

#notes-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.4vh;
}

#notes-header h2{
    margin: 0;
    padding: 1rem 0 1rem 10%;
    background: transparent;
    font-weight: 500;
    width: 90%;
}

#notes-header button{
    width: 10%;
    height: 60px;
    font-size: 3.5vh;
}

#section-right{
    border-radius: 7px;
    height: 88vh;
    margin: 0.5rem 0.25rem 0.5rem 0.25rem;
    overflow: scroll;
    border: 4px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

#section-left{
    height: 88vh;
    margin: 0.5rem 0.25rem 0.5rem 0.25rem;
}

#note-input{
    width: 100%;
    font-size: 2vh;
    border: 0;
    border-radius: 8px;
    padding: 5px;
}

#add-note-form{
    height: 0%;
    width: 50%;
    top: 20%;
    left: 25%;
}

#add-note-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#note-popup-content{
    padding: 5% 10% 0 10%;
}

#note-popup-submit{
    width: 30%;
    margin-top: 1rem;
}

.note-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
}

#notes-container{
    height: 100%;
    overflow: scroll;
}

.note {
    display: flex;
    width: 100%;
    max-height: 30%;
    overflow: scroll; 
    padding: 0.5rem;
    border-radius: 7px;
    margin-bottom: 0.25rem;
}

.note-content{
    width: 92%;
    font-size: 2.8vh;
    margin: 0;
    line-height: 1.5;
}

.note-content h6{
    margin: 1rem;
    font-weight: 400;
}

.note-header{
    display: flex;
    flex-direction: row;
    width: 8%;
    justify-content: end;
    align-items: start;
}

#delete-note-btn{
    height: 50px;
    width: 100%;
    font-size: 3.2vh;
    text-align: center;
}

#info-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#info-section-row-1{
    height: 25%;
}

#info-section-row-1 span{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#info-section-row-1 span label{
    font-size: 2.5vh;
    font-weight: 500;
}

#info-section-row-1 span p{
    margin: 3px;
    font-size: 2.2vh;
    padding: 0 6px;
}

#animal-dob-input{
    font-size: 2vh;
    display: none;
    padding: 3px;
    border: 0;
}

.vertical-separator{
    width: 3px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.themes-container{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: 80vh;
    padding: 15px 0;
}

.theme-list{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 80%;
    overflow: scroll;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.theme-list button{
    width: 100%;
    border-bottom: 1px solid;
    font-size: 2.4vh;
}